<div class="overlay">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Pizza Time!</h1>
    </div>
    <div class="row">
      <div id="eatCol" class="col-6">
        <div class="card-header">
          <h2>Uneaten</h2>
        </div>
        <div class="card-body">
          {{#each pizza}} {{#unless devoured}}
          <p class="pizzaItem">
            {{name}}
            <button class="btn btn-primary devour" data-id="{{id}}">Devour</button>
          </p>
          {{/unless}} {{/each}}
        </div>
      </div>
      <div id="devouredCol" class="col-6">
        <div class="card-header">
          <h2>Devoured</h2>
        </div>
        <div class="card-body">
          {{#each pizza}} {{#if devoured}}
          <p class="pizzaItem">
            {{name}}
          </p>
          {{/if}} {{/each}}
        </div>
      </div>
    </div>
    <div class="row">
      <div id="submitArea" class="col-12">
        <form id="newPizza">
          <div class="form-group">
            <label for="pizzaName">Enter New Pizza</label>
            <input class="form-control" name="pizzaName" id="pizzaName" placeholder="New Pizza">
          </div>
          <button class="btn btn-primary" id="submitPizza" type="submit">Submit New Pizza</button>
        </form>
      </div>
    </div>
  </div>
</div>